<div *ngIf="quote" class="d-flex flex-row flex-wrap justify-content-around">
  <div class="d-flex flex-row card quote-card shadow-sm border-0 m-2 p-2 w-75">
    <div class="w-100">
      <div class="card-body">
        <h5 class="card-title">Edit selected quote</h5>
        <div class="form-floating">
          <textarea
            class="form-control quote-textarea"
            [(ngModel)]="quote.content"
            placeholder="Quote"
            id="floatingTextarea"
            >{{ quote.content }}</textarea
          >
          <label for="floatingTextarea">Edit quote</label>
        </div>
        <p class="card-text">
          <small class="text-muted">- {{ quote.author }}</small>
        </p>
        <button class="btn btn-outline-dark" type="button" (click)="goBack()">
          Go back
        </button>
      </div>
    </div>
  </div>
</div>
